<ion-header>
  <ion-toolbar color="primary" class="ion-justify-content-center ion-text-center">
    <ion-title>Add a sensor</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="greyBackground">
  <ion-row class="ion-justify-content-center">
    <ion-col class="ion-align-content-center">
      <ion-label>Serial Number</ion-label>
      <ion-input placeholder="Empty" [value]="serialNumber" (ionChange)="inputChange($event)"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card button (click)="cancel()">
        <ion-card-content>
          <p>Cancel</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card button (click)="confirm()">
        <ion-card-content>
          <p>Confirm</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>