.tile-header {
  font-size: 16px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.milking-tile-value {
  font-size: 18px;
  margin-bottom: 5px;
}

.fuel {
  .clickable-card {
    border-top: 20px solid var(--ion-color-tertiary);
  }
}

.tile-date {
  margin-bottom: 10px;
  font-size: 12px;
}

.tile-title {
  font-size: 20px;
}

.no-value {
  font-size: 15px;
  width: 100px;
}

ion-card {
  color: black;
  min-height: 100px;
  @media (max-width: 320px) {
    min-height: 150px;
  }

  &.small {
    min-height: 80px;
    @media (max-width: 320px) {
      min-height: 70px;
    }
    height: 100%;

    .icon {
      width: 25px;
      height: 25px;
    }

    .label {
      font-size: 1.2em;
    }
  }
}

ion-card-header {
  color: black;
}

.icon {
  font-size: 40px;
  margin-top: 5px;
}

.warning-tile {
  &.milk {
    border: 1px solid var(--ion-color-secondary);
  }
  &.fuel {
    border: 1px solid var(--ion-color-tertiary);
  }
  &.effluent {
    border: 1px solid var(--ion-color-effluent);
  }
  ion-card-header {
    &.milk {
      background-color: var(--ion-color-secondary);
    }
    &.fuel {
      background-color: var(--ion-color-tertiary);
    }
    &.effluent {
      background-color: var(--ion-color-effluent);
    }
    p {
      color: white;
    }
  }
  animation: pulse 1.75s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  70% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.bold {
  font-weight: 600;
}

.card {
  border: 1px solid var(--ion-color-unassigned);
  ion-card-header {
    background-color: var(--ion-color-unassigned);
  }
  .icon {
    color: var(--ion-color-unassigned);
  }
  ion-card-content {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.lidarDistance.assigned {
  border: 1px solid var(--ion-color-lidarDistance);
  ion-card-header {
    background-color: var(--ion-color-lidarDistance);
  }
  .icon {
    color: var(--ion-color-lidarDistance);
  }
}

.stirrer.assigned {
  border: 1px solid var(--ion-color-stirrer);
  ion-card-header {
    background-color: var(--ion-color-stirrer);
  }
  .icon {
    color: var(--ion-color-stirrer);
  }
}

.vatTemp.assigned {
  border: 1px solid var(--ion-color-vatTemp);
  ion-card-header {
    background-color: var(--ion-color-vatTemp);
  }
  .icon {
    color: var(--ion-color-vatTemp);
  }
}

.inletTemp.assigned {
  border: 1px solid var(--ion-color-inletTemp);
  ion-card-header {
    background-color: var(--ion-color-inletTemp);
  }
  .icon {
    color: var(--ion-color-inletTemp);
  }
}

.hover {
  transition: 0.05s ease-in-out;
  transform: scale(1.1);
}

.scanned {
  opacity: 0.7;
  ion-card-content {
    background: url("../../../assets/pngs/scanned-bg.png");
  }
}
