.checkins {
  padding: 0px;
  margin: 0px;
}

.card {
  margin: 10px 10px 20px 10px;
}

.odd {
  background-color: #f4f5f8;
}

.readings {
  padding-top: 10px;
}

.icon {
  font-size: 40px;
  margin-top: 10px;
}

ion-title {
  opacity: 0.8;
}

.lidarDistance {
  color: var(--ion-color-lidarDistance);
}

.stirrer {
  color: var(--ion-color-stirrer);
}

.vatTemp {
  color: var(--ion-color-vatTemp);
}

.inletTemp {
  color: var(--ion-color-inletTemp);
}
