.icon {
    padding-top: 4px;
}

.info {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.greyBackground {
    background-color: var(--ion-color-grey-background);
}

.padding {
    padding-top: 13px;
    padding-bottom: 13px;
}