.item-interactive {
    --highlight-background: unset;      // Remove red underline from inputs
}

.formRow {
    height: 100%;

    @media (min-width: 480px) and (max-width: 680px) and (orientation: landscape) {
        height: auto;
    }
}

.white-input {
    --ion-color-base: #FFFFFF;
    --highlight-background: #F5851F;
    --ion-background-color: #FFFFFF;
}

.grey-input {
    --ion-color-base: #DDDEE1;
    --ion-background-color: #DDDEE1;
    color: #7C7D8B;
}

.rounded-top {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    --border-radius: 5px 5px 0px 0px;
}

.custom-label {
    font-size: 16px; 
    z-index: 5;
}
